body{
    background:linear-gradient(180deg, #000428, #004E92); 
    font: Inter, sans-serif;
}
.dashboard-container {
    padding: 8px;
    background-color: #181818;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
  }

  .dashboard-title {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }

  .service-row {
    margin: 20px;
  }

.service-col {
  padding: 15px;
}

.service-card {
    background-color: #222;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .service-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
        /* background-color: #181818; */
  }

.service-body {
  padding: 20px;
}
.full-width {
    width: 100%;
  }
.button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  flex-direction: row;
  gap: 8px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.results-section {
    background:linear-gradient(180deg, #000428, #004E92); 
  padding: 10px;
  border-radius: 10px;
  color: #d1d1d1;
}

.live-monitoring-section {
  padding: 20px;
  border-radius: 15px;
  color: #d1d1d1;
  text-align: center;
}
.findings-table {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .finding-item {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
  }
  .aggregated-risk-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
  }